DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
RDS_HOST=localhost
RDS_PORT=3306
RDS_DB_NAME={Mysql_데이터베이스_이름}}?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Seoul

RDS_USERNAME={Mysql_사용자_이름}
RDS_PASSWORD={Mysql_사용자_비밀번호}